<h1>Welcome!</h1>

{{#each posts}}
  <div class="post">
    <img src="{{this.picPath}}" alt="{{this.imageName}}">
    <p>{{this.content}}</p>
    <a href="/posts/{{this.id}}">Read More</a>
  </div>
{{/each}}

